html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.buttons {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
}

.buttons > button > label > input {
  display: none;
}

button {
  background-color: #fe4800;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.5rem;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  background-color: #8e3200;
  padding: 1rem;
}

.App > div {
  background-color: white;
  width: 33%;
  height: 100%;
  margin: 1px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
}

.App > .buttons-container > .buttons {
  width: 33%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 1px;
  position: relative;
}

.Graphviz {
  margin: 80px 30px;
}
